.list {
    display: block;
}


.song {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-bottom: 1px solid rgba($color-grey, 0.4);
    width: 100%;
    grid-gap: 1rem;
    background-color: rgba($color-grey, 0.05);
    padding: 0.5rem;
    grid-auto-rows: minmax(5rem, auto);
    position: relative;

    &__link {
        position: absolute;
        min-width: 0px;
        line-height: 1.125;
        grid-column: 1 / 2;
        width: 100%;
        

        h3 {
            font-size: 1.6rem;
            font-weight: 600;
            overflow-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
        }
    
        p {
            font-size: 1.4rem;
            overflow-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
        }
    }


    strong {
        color:rgba($color-main, 0.85);
        align-self: center;
        justify-self: end;
        grid-column: 2 / 3; 
    }
}