.list {
    display: block;
}


.song {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-bottom: 1px solid rgba($color-grey, 0.4);
    width: 100%;
    grid-gap: 1rem;
    background-color: rgba($color-grey, 0.05);
    padding: 0.5rem;

    &__link {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        h3 {
            font-size: 1.6rem;
            font-weight: 600;
        }
    
        p {
            display: inline-block;
            font-size: 1.4rem;
        }
    }


    strong {
        color:rgba($color-main, 0.85);
        align-self: center;
        justify-self: end;
    }
}