.list {
    display: block;
}


.song {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-bottom: 1px solid rgba($color-grey, 0.4);
    width: 100%;
    grid-gap: 1rem;
    padding: 0.5rem;
    grid-auto-rows: minmax(5rem, auto);
    position: relative;

    &__link {
        position: absolute;
        min-width: 0px;
        line-height: 1.125;
        grid-column: 1 / 2;
        width: 100%;
        align-self: center;
        

        h3 {
            font-size: 1.6rem;
            font-weight: 600;
            overflow-wrap: break-word;
            word-break: break-word;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    
        p {
            color: $color-dark;
            font-size: 1.4rem;
            overflow-wrap: break-word;
            word-break: break-word;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }


    strong {
        color: $color-main;
        align-self: center;
        justify-self: end;
        grid-column: 2 / 3; 
    }
}

.pagination {
    display: flex;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
    padding-top: 2rem;
    padding-bottom: 2rem;

    
    a {
      padding: 0.5rem;
      border-radius: 0.5rem;
      border: 0.1rem solid $color-main;
      color: $color-main;
    }

    &__link {
      font-weight: bold;  
    }
    
    &__link--active a {
      color: $color-white;
      background: $color-main;
      outline: none;
    }
    
    &__link--disabled a {
      color: $color-grey;
      border: 0.1rem solid $color-grey;
    }
  }
  
  