@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-size: 62.5%;
    
}

body {
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    background-color: $color-white;
    color: $color-black;
}

a {
    text-decoration: none;
    color: $color-white;
    display: inline-block;
}

button:hover {
    cursor: pointer;
}







